<!-- fromEvent -->
fromEvent->
<a href="#" id="click-element">Click me</a>
<br>
<hr>
<!-- Cancel Subscription -->
Cancel Subscription->
<a href="#" (click)="startSubscription()">start Subscription </a>
<a href="#" (click)="cancelSubscription()">Cancel Subscription</a>
<br>
<hr>
<!-- Create new Observable and handle cleanup -->
Create new Observable and handle cleanup->
<a href="#" (click)="createNewObservable()">Create new Observable</a>
<br>
<hr>
<!-- OPERATORS -->
OPERATORS->
<a href="#" (click)="operators()">OPERATORS</a>
<br>
<hr>
<div class="container">
  <div class="wrapper">
    <a href="#" id="buffer">buffer</a>
    <hr>
    <a href="#" (click)="bufferCount()">bufferCount</a>
    <hr>
    <a href="#" (click)="bufferTime()">bufferTime</a>
    <hr>
  </div>
  <div class="wrapper">
    <a href="#" (click)="take()">take</a>
    <hr>
    <a href="#" (click)="takeLast()">takeLast</a>
    <hr>
    <a href="#" (click)="takeUntil()">takeUntil</a>
    <hr>
    <a href="#" (click)="takeWhile()">takeWhile</a>
  </div>
  <div class="wrapper">
    <a href="#" (click)="skip()">skip</a>
    <hr>
    <a href="#" (click)="skipLast()">skipLast</a>
    <hr>
    <a href="#" (click)="skipUntil()">skipUntil</a>
    <hr>
    <a href="#" (click)="skipWhile()">skipWhile</a>
  </div>
  <div class="wrapper">
    <a href="#" (click)="distinct()">distinct</a>
    <hr>
    <a href="#" (click)="distinctUntilChanged()">distinctUntilChanged</a>
    <hr>
    <a href="#" (click)="distinctUntilKeyChanged()">distinctUntilKeyChanged</a>
    <hr>
  </div>
</div>
